@mixin ralewaytoggler {
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-style: normal;
};

@mixin robototoggler {
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-style: normal;
};


@mixin textcolor-whiteversion {
     color: $color-005;
}

@mixin btnblackversion {
     border: solid 1px #fff;
     background-color: transparent;
};
@mixin btnwhiteversion {
     border: solid 1px $color-004;
     background-color: $color-004;
}