$white-body:         #ffffff;
$color-001:         #161723;
$color-002:         #c0c2d7;
$color-003:         #404256;
$color-004:         #f4683f;
$color-005:         #333333;
$color-006:         #eeeeee;
$color-007:         #000000;
$color-008:         #727488;
$color-009:         #ffffff7f;
$color-010:         #161623;
$color-011:         #444444;
$color-012:         #7f7f7f;
$color-013:         #12162633;
$color-014:         #7b7b7b;
$color-015:         #ffffff4d;
$color-016:         #0000004d;
$color-017:         #c4c4c4;
$color-018:         #e5e5e5;
$color-019:         #00000099;
$color-020:         #e1e1e1;
$color-021:         #17151c;
$color-022:         #132c14;
$color-023:         #76a9ff;
$color-024:         #3c3844;
$color-025:         #7a7585;
$color-026:         #1f4921;
$color-027:         #2b662e;
$color-028:         #787885;
$color-029:         #eeecf1;
$color-030:         #dadada;
$color-031:         #151622;
$color-032:         #72748800;
$color-033:         #00000033;