@import '_vars.scss';
@import '_mixin.scss';

.container {
     max-width: 1830px;
     padding: 0px 15px;
};

.header-container {
     max-width: 1830px;
     padding: 0px 15px;
}

// header


.header__addition--text {
     color: #333;
     transition: all 0.3s ease;
}

.header__addition--text:hover {
     color: #F4683F;
}

.city__title {
     color: #333;
}

.city__title--white {
     color: #fff;
}

.header__locationblock--catalogbtn {
     max-width: 100%;
     background-color: #F4683F;
}

.header__btntext {
     color: #333;
}

.header__phonetext {
     color: #333;
}

.header__burgermenu--line {
     background-color: #333;
}

.city__citytext--menu {
     background-color: #333;
}

.city__citytext--menu-item {
     color: #fff;
}



// section filter block


.section__filterblock {
     padding-top: 200px;
}

.filterblock__wrapper {
     max-width: 100%;
     width: 100%;
}

.filterblock__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 42px;
}

.filterblock__item {
     display: flex;
     align-items: center;
     gap: 20px;
}

.filterblock--hightelem {
     height: 50px;
}

.filterblock__btn {
     max-width: 100%;
     padding: 0px 20px;
     border: 1px solid #C0C2D7;
     border-radius: 200px;
     display: flex;
     align-items: center;
     gap: 3px;
}

.filterblock__btn p {
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     color: #333;
}

.filterblock__form {
     max-width: 100%;
     border: 1px solid #C0C2D7;
     border-radius: 200px;
     padding: 7px 20px;
     display: flex;
     align-items: center;
     gap: 32px;
}

.filterblock__input--last {
     padding-left: 20px;
     border-left: 1px solid #C0C2D7;
}

.filterblock__btnactive {
     max-width: 100%;
     padding: 0px 20px;
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     color: #fff;
     background-color: #F4683F;
     border-radius: 200px;
}


// section__scrollcard


.section__scrollcard {
     padding: 31px 0px 197px 0px;
}

.scrollcard__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.scrollcard__map {
     max-width: 100%;
     width: 100%;
     position: relative;
}

.scrollcard__zoomblock {
     display: flex;
     flex-direction: column;
     gap: 8px;
     max-width: 50px;

     position: absolute;
     top: 20px;
     right: 20px;
     z-index: 10000;
}

.zoomblock__item {
     cursor: pointer;
     max-width: 100%;
     background-color: #fff;
     border: 1px solid #C0C2D7;
     border-radius: 200px;
     padding: 13px;
}

.scrollcard__backblock {
     cursor: pointer;
     max-width: 50px;
     background-color: #fff;
     border: 1px solid #C0C2D7;
     border-radius: 200px;
     padding: 13px;

     position: absolute;
     top: 20px;
     left: 20px;
}

.scrollcard__map--card {
     display: flex;
     align-items: center;
     gap: 20px;
     max-width: 90%;
     width: 100%;
     background-color: #fff;
     box-shadow: 0px 14px 80px rgba(5, 9, 22, 0.2);
     border-radius: 20px;

     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);

}

.mapcard__innercontent {
     padding: 20px 20px 20px 0px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     
}

.mapcard__titleblock {
     display: flex;
     justify-content: space-between;
}

.mapcard__titleblock--text {
     display: flex;
     flex-direction: column;
     gap: 4px;
     max-width: 330px;
}

.mapcard__titleblock--title {
     font-weight: 800;
     font-size: 16px;
     line-height: 150%;
     color: #333;
}

.mapcard__titleblock--subtitle {
     font-weight: 600;
     font-size: 14px;
     line-height: 17px;
     color: #333;
}

.mapcard__peopleblock {
     display: flex;
     justify-content: center;
     gap: 6px;
     max-width: 92px;
     width: 100%;
     align-items: center;
     border: 1px solid #C0C2D7;
     border-radius: 150px;
     padding: 7px 0px 7px 0px;
}

.mapcard__peopleblock--text {
     font-weight: 600;
     font-size: 14px;
     line-height: 150%;
     color: #727488;
}
