@import '_vars.scss';
@import '_mixin.scss';


.d-n {
     display: none;
}

.activeblock {
     display: block;
}

.overflowHidden {
     overflow-y: hidden;
}

.header__burgermenuactive {
     display: none;
};

.intro__applications {
     display: none;
} 


// sections

.section__title {
     font-weight: 800;
     font-size: 40px;
     line-height: 150%;
     color: $color-005;
}

.prepopular__section--mobile {
     display: none;
}

.footer--mobileversion {
     display: none;
}



// sett popular section

.popular__inner--delnext {
     display: none;
}

.popular__btncatalog {
     max-width: 320px;
     margin: 0 auto;
     width: 100%;
     text-align: center;
     padding: 13px 0px 17px 0;
     color: #fff;
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     background: #F4683F;
     border-radius: 200px;    
}



// popup--sett

.popup__search {
     max-width: 100%;
     width: 100%;
     height: 100vh;

     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 100000;
     background-color: rgba(0, 0, 0, 0.4);
}

.popup__search--wrapper {
     max-width: 100%;
     width: 100%;
     position: relative;
     height: 100vh;
}

.popup__search--inner {
     max-width: 1000px;
     width: 100%;
     padding: 45px 0px;
     background-color: #fff;
     border-radius: 20px;

     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.popup__search--content {
     position: relative;
}

.popup__search--close {
     position: absolute;
     top: -80px;
     right: 0;
}

.popup__search--form {
     margin: 0 auto;
     max-width: 880px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     gap: 20px
}

.searchform__inputblock {
     display: flex;
     gap: 8px;
     align-items: center;
     max-width: 680px;
     width: 100%;
     border-bottom: 1px solid #C0C2D7;
}

.searchform__input {
     max-width: 100%;
     width: 100%;

     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #C0C2D7;
}

.searchform__input::placeholder {
     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #C0C2D7;
}

.searchform__btn {
     max-width: 180px;
     width: 100%;
     padding: 11px 13px;
     background: #F4683F;
     border-radius: 200px;

     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #fff;
}

.popup__search--close--mobile {
     display: none;
}

.searchform--icon {
     display: none;
}


// Animation popup search

.searchform__inputblock--animationborder {
     border-bottom: 1px solid #ff0000;
}

@keyframes animationPopupSearchOpen {
     0% {
          opacity: 0;
     }
     50% {
          opacity: 0.5;
     }
     100% {
          opacity: 1;
     }
};

@keyframes animationPopupSearchClose {
     0% {
          opacity: 1;
     }
     50% {
          opacity: 0.5;
     }
     100% {
          opacity: 0;
     }
}

.animationPopupSearchOpen {
    animation: animationPopupSearchOpen 0.3s linear forwards; 
}

.animationPopupSearchClose {
     animation: animationPopupSearchClose 0.3s linear forwards; 
 }
























// header


.header-container {
     max-width: 1800px;
     margin: 0 auto;
     padding: 0 15px;
}

.header__wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;

     max-width: 100%;
     width: 100%;
}

.header__wrapper--mobile {
     display: none;
}

.header__inner-wrapper {
     display: flex;
     align-items: center;
     gap: 60px;
}

.header__wrapper--versionone {
     color: $white-body;
}

.header__firstblock {
     display: flex;
     align-items: center;
     gap: 40px;
}

.header__locationblock {
     display: flex;
     align-items: center;
     gap: 21px;
}

.header__locationblock--city {
     display: flex;
     align-items: center;
     gap: 4px;
     cursor: pointer;
}

.city__citytext {
     align-items: center;
     display: flex;
     gap: 2px;
}

.city__title {
     font-size: 18px;
     line-height: 22px;
     color: #fff;
}

.city__arrowdown {
     cursor: pointer;
}

.header__locationblock--catalogbtn {
     width: 136px;
     text-align: center;
     padding: 8px 0 10px 0;
     border-radius: 50px;

     color: #fff;
     font-size: 18px;
     line-height: 22px;
}

.catalogbtn--blackversion {
     @include btnblackversion;
     transition: all 0.5s ease;
} 

.catalogbtn--blackversion:hover {
     @include btnwhiteversion;
}

.header__addition {
     display: flex;
     align-items: center;
     gap: 30px;
}

.header__addition--text {
     font-size: 18px;
     line-height: 22px;
}

.header__lastblock {
     display: flex;
     align-items: center;
     gap: 30px;
}

.heart--icon {
     cursor: pointer;
}

.header__lastblock--search {
     display: flex;
     align-items: center;
     gap: 8px;
}

.header__btntext {
     font-size: 18px;
     line-height: 22px;
}

.header__telblock {
     display: flex;
     align-items: center;
     gap: 7px;
}

.header__phonetext {
     font-size: 16px;
     line-height: 20px;
}



// intro

.section__intro {
     max-width: 100%;
     width: 100%;
     height: 100vh;
     position: relative;
}

.intro__background {
     position: absolute;

     z-index: -10000;
     max-width: 100%;
     width: 100%;
     height: 100vh;
     object-fit: cover;
}

.intro__bg--gradient {
     max-width: 100%;
     width: 100%;
     height: 100vh;
}

.intro__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 222px 0px 80px 0;
     gap: 15px;
}

.intro__content {
     display: flex;
     flex-direction: column;
     max-width: 660px;
     gap: 85px;
}

.intro__text {
     display: flex;
     flex-direction: column;
     gap: 30px;
}

.intro__title {
     @include ralewaytoggler;
     font-weight: 800;
     font-size: 60px;
     line-height: 140%;
     letter-spacing: 0.02em;
     color: #FFFFFF;
}

.intro__subtitle {
     font-weight: 600;
     font-size: 25px;
     line-height: 150%;
     color: #FFFFFF;
}

// slider

.slide__body {
     display: flex;
     flex-direction: column;
     text-align: center;
     max-width: 160px;
     width: 100%;
     gap: 14px;
}

.slide__text {
     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #fff;
}

.owl-carousel {
     max-width: 660px;
     display: flex;
     justify-content: space-between;

}



//=//==//=//

.intro__social {
     display: flex;
     align-items: center;
     gap: 22px;
}


.intro__inputfield {
     padding: 60px 40px;
     background-color: #fff;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     gap: 48px;
}


.intro__formcontainers {
     display: flex;
     flex-direction: column;
     gap: 26px;
}

.intro__formcontainer {
     display: flex;
     flex-direction: column;
     gap: 6px;
}

.intro__formsFailed {
     border: solid 1px #EF0000;
}



.intro__input--beforetitle {
     display: flex;
}

.input__title {
     width: 50%;

     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #444;
     padding-left: 20px;
}

.input__title--reset {
     width: 100%;
}


.intro__form {
     display: flex;
     max-width: 280px;
     width: 100%;
     border: 1px solid #C0C2D7;
     border-radius: 200px;
     padding: 7px 0px;
}

.input__wrapper {
     padding: 5px 0px;
     width: 50%;
}

.input__wrapper--reset {
     width: 100%;
}

.intro__input {
     width: 100%;
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #8a8a8a;
     padding: 0px 20px;
}

.intro__input::placeholder {
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #C0C2D7;
}

.intro__input--border {
     border-left: 1px solid #C0C2D7;
}



.intro__rangeinputcontainer {
     max-width: 240px;
     width: 100%;
     margin: 0 auto;
     position: relative;
}

input[type="range"] {
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
};

.intro__track {
     width: 100%;
     height: 1px;
     background-color: #808080;
}


input[type="range"]::-webkit-slider-runnable-track{
     -webkit-appearance: none;
     height: 5px;
}

input[type="range"]::-moz-range-track{
     -moz-appearance: none;
     height: 5px;
}

input[type="range"]::-ms-track{
     appearance: none;
     height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
     -webkit-appearance: none;
     height: 23px;
     width: 8px;
     background-color: #F4683F;
     border-radius: 200px;
     cursor: pointer;
     margin-top: -9px;
     pointer-events: auto;
}

input[type="range"]::-moz-range-thumb{
     appearance: none;
     height: 23px;
     width: 8px;
     background-color: #F4683F;
     border-radius: 200px;
     cursor: pointer;
     margin-top: -9px;
     pointer-events: auto;
}

input[type="range"]::-ms-thumb {
     appearance: none;
     height: 23px;
     width: 8px;
     background-color: #F4683F;
     border-radius: 200px;
     cursor: pointer;
     margin-top: -9px;
     pointer-events: auto;
}

.intro__inputs {
     position: relative;
}

.intro__values {
     position: absolute;
     max-width: 100%;
     width: 100%;
     top: 17px;
     display: flex;
     justify-content: center;
     gap: 12px;
}


.intro__rangeinput--thumbsett {
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #444444;
}

.intro__btn {
     margin-top: 30px;
     width: 100%;
     padding: 10px 0 13px 0;
     background-color: #F4683F;
     border-radius: 50px;

     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #fff;
}



// about

.section__about {
     padding: 200px 0;
     background-image: url('../images/about/bgabout.png');
     background-repeat: no-repeat;
     background-position: right;
     background-size: auto;
}

.about__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 73px;
}

.about__inner {
     display: flex;
     justify-content: space-between;
     gap: 65px;
}

.about__item {
     display: flex;
     flex-direction: column;
     gap: 20px;

     max-width: 331px;
}

.about__icon {
     max-width: 40px;
     max-height: 40px;
}

.about__text {
     font-weight: 600;
     font-size: 16px;
     line-height: 160%;
     color: $color-005;
}


// popular

.section__popular {
     padding: 0px 0px 135px 0;
}

.popular__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 80px;
}


.popular__inner {
     display: flex;
     justify-content: space-between;
     gap: 40px;
}

.popular__colomn {
     display: flex;
     flex-direction: column;
     gap: 40px;
}

.popular__item {
     position: relative;
     box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
     border-radius: 20px;
     max-width: 440px;
     width: 100%;
}

.popular__item--container {
     padding: 30px 30px 40px 30px;
}

.popular__item--title {
     font-weight: 800;
     font-size: 24px;
     line-height: 150%;
     color: #333333;
     margin-bottom: 16px;
}

.popular__item--housedescription {
     display: flex;
     flex-direction: column;
     gap: 8px;
     margin-bottom: 27px;
}

.housedescription__item {
     display: flex;
     align-items: center;
     gap: 12px;
}

.housedescription__text {
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #727488;
}

.popular__price {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.popular__price--text {
     font-weight: 800;
     font-size: 22px;
     line-height: 150%;
     color: #333333;
     font-feature-settings: 'pnum' on, 'lnum' on;
}

.popular__price--link {
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #F4683F !important;
}

.popular__item--imgwrapper {
     position: relative;
}


.popular__peopleblock {
     max-width: 92px;
     width: 100%;
     padding: 7px 0px 8px 0px;

     display: flex;
     justify-content: center;
     align-items: center;
     gap: 6px;
     border-radius: 150px;
     background-color: #fff;

     position: absolute;
     top: 24px;
     right: 20px;
}

.popular__peopleblock--text {
     font-weight: 600;
     font-size: 14px;
     line-height: 150%;
     color: #727488;
}

.popular__favoriteblock {
     display: flex;
     justify-content: center;
     cursor: pointer;

     padding: 13px 0 11px 0;
     max-width: 50px;
     width: 100%;
     position: absolute;
     bottom: 20px;
     right: 20px;

     background: rgba(255, 255, 255, 0.5);
     box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
     border-radius: 200px;
}


// service

.section__service {
     background:linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 30.08%), linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 34.1%), linear-gradient(180deg, #FFFFFF 13.78%, rgba(255, 255, 255, 0) 59.27%), url('../images/service/bgservices.png');
     background-repeat: no-repeat;
     background-position: right;
     background-size: auto;
     padding: 0px 0px 200px 0px;
}


.service__wrapper {
     display: flex;
     flex-direction: column;
     gap: 60px;
     max-width: 100%;
     width: 100%;
}


.service__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 40px;
     max-width: 100%;
     width: 100%;
}

.service__colomn {
     max-width: 440px;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 40px;
}

.service__item {
     background-color: #FFFFFF;
     box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
     border-radius: 20px;
     padding: 50px 0px 50px 44px;

     max-width: 100%;
     width: 100%;
}

.service__item--content {
     display: flex;
     align-items: center;
     gap: 21px;
}

.service__item--title {
     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #333;
}




.service__button {
     max-width: 280px;
     width: 100%;

     text-align: center;
     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #FFFFFF;

     background: #F4683F;
     border-radius: 200px;

     padding: 10px 0px 13px 0px;
     margin: 0 auto;
}



// questions

.section__questions {
     padding: 0px 0px 250px 0;
}

.questions__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 80px;
     min-height: 100%;
}

.questions__inner {
     display: flex;
     flex-direction: column;
     max-width: 100%;
     width: 100%;
     min-height: 100%;

     border-top: 1px solid #C0C2D7;
     border-bottom: 1px solid #C0C2D7;
}

.questions__inner:last-child {
     border-bottom: none;
}

.questions__item {
     display: flex;
     flex-direction: column;
     gap: 17px;
     padding: 30px 0px;
     border-bottom: 1px solid #C0C2D7;
     min-height: 100%;
}

.questions__item--titleblock {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.questions__item--title {
     font-weight: 800;
     font-size: 22px;
     line-height: 150%;
     color: #333;
}

.questions__button {
     max-width: 50px;
     width: 100%;
     height: 50px;
     position: relative;
     border-radius: 50px;
     transition: all 0.5s ease;
}

.questions__button:hover {
     background-color: #EEE;
}

.questions__button--elements {
     position: absolute;
     z-index: 10000;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.question__gorizontalline {
     display: block;
     width: 14px;
     height: 2px;
     background-color: #333;
}

.question__verticalline {
     display: block;
     width: 2px;
     height: 14px;
     background-color: #333;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}



// Animation quest button


@keyframes tranformAnimationMinus {
     0% {
          rotate: 0deg;
     }

     50% {
          rotate: -45deg;
     }

     100% {
          rotate: -90deg;
          left: 50%;
          top: 0;
          transform: translate(275%,-5%);
     }
}

@keyframes tranformAnimationPlus {
     0% {
          rotate: -90deg;
          left: 275%;
          transform: translate(-275%,-275%);
     }

     50% {
          rotate: -45deg;
     }

     100% {
          rotate: 0deg;
     }
}

.questions--tranformanimationminus {
     animation: tranformAnimationMinus 0.3s linear forwards;
}

.questions--tranformanimationplus {
     animation: tranformAnimationPlus 0.3s linear forwards;
}

.questions__item--textblock {
     font-weight: 500;
     font-size: 18px;
     line-height: 160%;
     color: #000;
}

@keyframes questionsTextBlockAnimationOpen {
     0% {
          opacity: 0;
          overflow: hidden;
          transform: translateY(-100%);
     }
     5%{
          padding: 0px 0px 1px 0;
          opacity: 0.05;
     }
     10%{
          padding: 0px 0px 2px 0;
          opacity: 0.1;
     }
     15%{
          padding: 0px 0px 3px 0;
          opacity: 0.15;
     }
     20%{
          padding: 0px 0px 4px 0;
          opacity: 0.2;
     }
     25%{
          padding: 0px 0px 5px 0;
          opacity: 0.25;
     }
     30%{
          padding: 0px 0px 6px 0;
          opacity: 0.3;
     }
     35%{
          padding: 0px 0px 7px 0;
          opacity: 0.35;
     }
     40%{
          padding: 0px 0px 8px 0;
          opacity: 0.4;
          transform: translateY(-50%);
     }
     45%{
          padding: 0px 0px 9px 0;
          opacity: 0.45;
     }
     50%{
          padding: 0px 0px 10px 0;
          opacity: 0.5;
     }
     55%{
          padding: 0px 0px 11px 0;
          opacity: 0.55;
     }
     60%{
          padding: 0px 0px 12px 0;
          opacity: 0.6;
     }
     65%{
          padding: 0px 0px 13px 0;
          opacity: 0.65;
          transform: translateY(-25%);
     }
     70%{
          padding: 0px 0px 14px 0;
          opacity: 0.7;
     }
     75%{
          padding: 0px 0px 15px 0;
          opacity: 0.75;
     }
     80%{
          padding: 0px 0px 16px 0;
          opacity: 0.8;
     }
     85%{
          padding: 0px 0px 17px 0;
          opacity: 0.85;
     }
     90%{
          padding: 0px 0px 18px 0;
          opacity: 0.9;
     }
     95%{
          padding: 0px 0px 19px 0;
          opacity: 0.95;
     }
     100%{
          padding: 0px 0px 20px 0;
          opacity: 1;
          transform: translateY(0%);
     }

}

@keyframes questionsTextBlockAnimationClose {
     0% {
          opacity: 0;
          overflow: hidden;
          transform: translateX(0%);
     }
     5%{
          padding: 0px 0px 18px 0;
          opacity: 0.95;
     }
     10%{
          padding: 0px 0px 17px 0;
          opacity: 0.9;
     }
     15%{
          padding: 0px 0px 16px 0;
          opacity: 0.85;
     }
     20%{
          padding: 0px 0px 15px 0;
          opacity: 0.8;
     }
     25%{
          padding: 0px 0px 14px 0;
          opacity: 0.75;
     }
     30%{
          padding: 0px 0px 13px 0;
          opacity: 0.7;
     }
     35%{
          padding: 0px 0px 12px 0;
          opacity: 0.65;
     }
     40%{
          padding: 0px 0px 11px 0;
          opacity: 0.6;
     }
     45%{
          padding: 0px 0px 10px 0;
          opacity: 0.55;
     }
     50%{
          padding: 0px 0px 9px 0;
          opacity: 0.5;
          transform: translateX(50%);
     }
     55%{
          padding: 0px 0px 8px 0;
          opacity: 0.45;
     }
     60%{
          padding: 0px 0px 7px 0;
          opacity: 0.4;
     }
     65%{
          padding: 0px 0px 6px 0;
          opacity: 0.35;
     }
     70%{
          padding: 0px 0px 5px 0;
          opacity: 0.3;
     }
     75%{
          padding: 0px 0px 4px 0;
          opacity: 0.25;
     }
     80%{
          padding: 0px 0px 3px 0;
          opacity: 0.2;
     }
     85%{
          padding: 0px 0px 2px 0;
          opacity: 0.15;
     }
     90%{
          padding: 0px 0px 1px 0;
          opacity: 0.1;
     }
     95%{
          padding: 0px 0px 0px 0;
          opacity: 0.05;
     }
     100%{
          opacity: 0;
          overflow: hidden;
          transform: translateX(100%);
     }
}


.questions__textblock--animationopen {
     animation: questionsTextBlockAnimationOpen 0.5s linear forwards;
}

.questions__textblock--animationclose {
     animation: questionsTextBlockAnimationClose 0.5s linear forwards;
}



// prefooter

.section__prefooter {
     height: 100vh;
     padding: 250px 0px 300px 0px;
     background-image: url('../images/prefooter/bg.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

.prefooter__wrapper {
     max-width: 1160px;
     width: 100%;
     margin: 0 auto;
}

.prefooter__content {
     display: flex;
     flex-direction: column;
     gap: 60px;
}

.prefooter__textblock {
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.prefooter__title {
     font-weight: 800;
     font-size: 40px;
     line-height: 150%;
     color: #fff;
}

.prefooter__subtitle {
     font-weight: 600;
     font-size: 18px;
     line-height: 160%;
     color: #fff;
     max-width: 360px;
}

.prefooter__button {
     max-width: 260px;
     width: 100%;
     padding: 10px 0px 13px 0px;
     background: #F4683F;
     border-radius: 200px;

     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #fff;
}

// footer

.footer {
     padding: 73px 0px;
     background-color: #161723;
 }

 .footer__wrapper {
     max-width: 100%;
     width: 100%;
 }

 .footer__inner {
     display: flex;
     justify-content: space-between;
     gap: 10px;
 }

 .footer__colomn {
     display: flex;
     flex-direction: column;
 }

 .footer__logoblock {
     gap: 120px;
 }

 .footer__catalogmenu {
     gap: 17px;
 }

.footer__contactblock {
     max-width: 210px;
     width: 100%;
     gap: 143px;
}

.footer__politic {
     font-weight: 500;
     font-size: 14px;
     line-height: 150%;
     color: #404256;
     max-width: 400px;
     width: 100%;
}

.footer__catalogmenu {
     max-width: 250px;
     width: 100%;
}

.footer__nav {
     display: flex;
     flex-direction: column;
     gap: 17px;
}

.footer__navtitle {
     font-weight: 800;
     font-size: 22px;
     line-height: 150%;
     color: #FFFFFF;
}

.footer__menu {
     display: flex;
     flex-direction: column;
     gap: 12px;
}

.footer__menu--item {
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     color: #C0C2D7;
     transition: all 0.3s ease;
}

.footer__menu--item:hover {
     color: #e5e5ed;
}

.footer__questionsblock {
     display: flex;
     flex-direction: column;
     gap: 13px;
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     color: #C0C2D7;
}

.footer__contactblock {
     gap: 143px;
     align-items: flex-end;
}

.footer__phoneblock {
     display: flex;
     align-items: center;
     gap: 7px;
}

.footer__phonetext {
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     color: #C0C2D7;
}

.footer__socialblock {
     display: flex;
     align-items: center;
     gap: 22px;
}

.footer__socialblock--icon {
     cursor: pointer;
}























// RESPONSIVE

@media (max-width: 1400px) {

     // settsection

     .section__title {
          font-size: 36px;
     }



     .header-container {
          max-width: 1400px;
          padding: 0px 15px;
          margin: 0 auto;
     }

     .header__locationblock {
          gap: 17px;
     }

     .city__title {
          font-size: 14px;
          line-height: 17px;
     }

     .header__locationblock--catalogbtn {
          max-width: 99px;
          font-size: 14px;
          line-height: 17px;
     }

     .header__locationblock--catalogbtn {
          background-color: $color-004;
          border: $color-004;
     }

     .header__addition--text {
          font-size: 14px;
          line-height: 17px;
     }

     .header__addition {
          gap: 20px;
     }
     
     .header__btntext {
          font-size: 14px;
          line-height: 17px;
     }

     .header__phonetext {
          font-size: 14px;
          line-height: 17px;
     }

     .header__lastblock {
          gap: 20px;
     }


     // intro

     .intro__wrapper {
          padding: 222px 0px 0px 0;
     }

     .intro__content {
          gap: 45px;
     }

     // about

     .about__text {
          font-size: 14px;
     }

     // popular

     .housedescription__text {
          font-size: 14px;
     }

     .popular__price--text {
          font-size: 18px;
     }

     .popular__price {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
     }

     // service

     .service__item--title {
          font-size: 14px;
     }

     // questions

     .questions__item {
          position: relative;
     }

     .questions__item--title {
          font-size: 22px;
     }

     .questions__item--textblock {
          font-size: 16px;
     }


     // prefooter

     .prefooter__title {
          font-size: 36px;
     }

     // footer

     .footer__logo {
          max-width: 182px;
          height: 24px;
     }

     .footer__politic {
          font-size: 12px;
     }

     .footer__menu--item {
          font-size: 14px;
     }

     .footer__questionsblock {
          font-size: 14px;
     }

     .footer__phonetext {
          font-size: 14px;
     }

}

@media (max-width: 1300px) {
     .header__telblock {
          display: none;
     }

     .header__lastblock {
          transform: translateY(7px);
     }

     .header__inner-wrapper {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 40px;
     }

     .header__wrapper {
          align-items: normal;
     }

}

@media (max-width: 992px) {
     // header

     .header__btntext {
          display: none;
     }

     .city__title {
          font-size: 16px;
     }

     .header__locationblock--catalogbtn {
          font-size: 16px;
     }

     .header__addition--text {
          font-size: 16px;
     }

     // intro

     .intro__wrapper {
          justify-content: center;
          text-align: center;
     }

     .intro__social {
          display: none;
     }

     .intro__inputfield {
          display: none;
     }

     .intro__title {
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-style: normal;
          font-weight: 800;
          font-size: 65px;
          line-height: 127%;
          letter-spacing: 0.02em;
          color: #FFFFFF;
     }

     .intro__applications {
          display: block;
          color: #fff;
          @include btnwhiteversion;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;

          max-width: 320px;
          width: 100%;
          border-radius: 50px;
          padding: 8px 0px 11px 0px;
          transition: all 0.3s ease;
          margin: 0 auto;
     }


     // about 

     .about__inner {
          display: flex;
          flex-wrap: wrap;
     }

     .about__text {
          font-size: 16px;
     }

     // popular

     .popular__peopleblock {
          max-width: 80px;
          width: 100%;
     }

     .popular__favoriteblock--icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 26px;
          height: 26px;
     }

     .popular__favoriteblock {
          max-width: 45px;
          height: 45px;
          padding: 0;
     }
     
     .popular__item--title {
          font-size: 18px;
     }

     .popular__price--text {
          font-size: 16px;
     }

     .popular__price--link {
          font-size: 14px;
     }

     // service

     .service__inner {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
     }



     // footer 

     .footer__questionsblock {
          display: none;
     }


     // popup search

     .popup__search--inner {
          padding: 45px 10px;
     }
}

@media (max-width: 768px) {
     .header__wrapper--responsive {
          display: none;
     }

     .header__wrapper--mobile {
          display: flex;
          align-items: center;
     }

     

     .header__burgerblock {
          display: flex;
          align-items: center;
          gap: 16px;
     }

     .call--icon {
          width: 30px;
          height: 30px;
     }

     .header__search--icon {
          width: 25px;
          height: 25px;
          cursor: pointer;
     }

     .header__burgermenu {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 7px;
     }

     .header__burgermenu--line {
          background-color: #fff;
          height: 3px;
          width: 25px;
          border-radius: 50px;
     }

     // animation burger menu 

     @keyframes smoothopacity {
          0% {
               opacity: 0;
               transform: translateX(100%);
          }

          50% {
               opacity: 0.5;
               transform: translateX(50%);
          }

          100% {
               opacity: 1;
               transform: translateX(0%);
          }
     }

     @keyframes smoothopacityclose {
          0% {
               opacity: 1;
               transform: translateX(0%);
          }

          50% {
               opacity: 0.5;
               transform: translateX(50%);
          }

          100% {

               opacity: 0;
               transform: translateX(100%);
          }
     }




     .header__burgermenuactive {
          display: none;
          max-width: 100%;
          width: 100%;
          height: 100%;
          background-color: #161723;
          position: fixed;
          top: 0; 
          z-index: 100000;

          padding: 30px 20px;
     }

     .burgermenuactive--animation {
          display: block;
          transform: translateX(100%);
          animation: smoothopacity 0.3s linear forwards;
     }

     .burgermenuactive--animationclose {
          animation: smoothopacityclose 0.3s linear forwards;
     }

     .burgermenuactive__wrapper {
          display: flex;
          flex-direction: column;
          gap: 150px;
     }

     .burgermenuactive__logo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 100%;
          width: 100%;
     }

     .burgermenuactive--iconclose {
          cursor: pointer;
     }
     
     .burgermenuactive__maincontent--wrapper {
          display: flex;
          justify-content: center;
     }

     .burgermenuactive__maincontent {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 40px;
          max-width: 300px;
          width: 100%;
          
     }

     .burgermenuactive__btnblock {
          display: flex;
          flex-direction: column;
          gap: 21px;
     }

     .burgermenuactive__button {
          color: #fff;
          @include btnblackversion;
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;

          max-width: 100%;
          width: 300px;
          border-radius: 50px;
          padding: 8px 0px 11px 0px;
          transition: all 0.3s ease;
     }

     .burgermenuactive__button:hover {
          @include btnwhiteversion;
     }

     .burgermenuactive__button--active {
          @include btnwhiteversion;
     }

     .burgermenuactive__sublinks {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-content: center;
          gap: 12px;
          color: #C0C2D7;
          transition: all 0.3s ease;
     }

     .burgermenuactive__sublinks:hover {
          color: #e5e6ed;
     }



     .city__citytext {
          gap: 0px;
     }

     .city__title {
          font-weight: 600;
          font-size: 17px;
          line-height: 21px;
          margin: 0px 2px 0px 4px;
     }


     .burgermenuactive__nextcontent {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          align-content: center;
          gap: 22px;
     }

     .burgermenuactive__nextcontent--phoneblock {
          display: flex;
          align-items: center;
          gap: 7px;
     }

     .burgermenuactive__nextcontent--phonenumber {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #C0C2D7;
     }

     .burgermenuactive__nextcontent--social {
          display: flex;
          gap: 22px;
     }


     // intro

     .owl-carousel {
          display: none !important;
     }

     .intro__social {
          display: flex;
          justify-content: center;
     }

     .intro__content {
          max-width: 600px;
          gap: 50px;
     }

     .intro__title  {
          line-height: 140%;
          font-size: 50px;
     }

     // about  

     .section__about {
          padding: 100px 0;
     }

     .about__inner {
          gap: 40px;
     }


     // prepopular__section--mobile

     .prepopular__section--mobile {
          display: block;
          padding: 100px 0px;
     }

     .prepopular__wrapper {
          display: flex;
          flex-direction: column;
          gap: 40px;
     }

     .prepopular__inner {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
     }

     .prepopular__item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 150px;
     }
     
     .prepopular__text {
          font-size: 16px;
          line-height: 160%;
          text-align: center;
          color: #333333;

          max-width: 150px;
     }

     // popular

     .section__popular {
          padding: 0px 0px 126px 0;
     }

     .popular__wrapper {
          gap: 60px;
     }

     .popular__inner--dn {
          display: none;
     }

     .popular__inner--delnext {
          display: flex;
          flex-direction: column;
          gap: 48px;
     }

     .popular__inner--delnext-inner {
          display: flex;
          flex-direction: column;
          gap: 28px;
     }

     .popular__item {
          margin: 0 auto;
     }

     .popular__item--container {
          display: flex;
          flex-direction: column;
          gap: 18px;
     }

     .popular__item--title {
          font-size: 20px;
          margin-bottom: 0;
     }
     
     .popular__favoriteblock {
          top: 16px;
          left: 16px;
     }

     .popular__price--text {
          font-size: 18px;
     }

     .popular__price--link {
          color: #333333 !important;

          font-size: 16px;
          max-width: 126px;
          width: 100%;
          padding: 6px 0px 8px 0;
          border: 1px solid #C0C2D7;
          border-radius: 200px;
          text-align: center;
          
          transition: all 0.3s ease;
     }

     .popular__price--link:hover {
          background-color: #F4683F;
          border: #F4683F;
          color: #fff !important;
     }

     .popular__item--img {
          max-width: 100%;
          width: 100%;
     }

     .popular__item--subtitle {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          color: #333333;

          max-width: 206px;
     }

     // service
     
     // footer

     .footer--pcversion {
          display: none;
     }

     .footer--mobileversion {
          display: block;
     }

     .section__prefooter {
          padding: 250px 0px 0px 0px;
          height: 75vh;
     }
     

     .footer--mobileversion {
          padding: 0px 0px 150px 0px;
          background-color: #161723;
     }

     .footermobile__wrapper {
          max-width: 540px;
          width: 100%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          gap: 35px;
     }

     .footermobile__logo {
          max-width: 100%;
          width: 100%;
          height: 38px;
     }

     .footermobile__maincontent {
          display: flex;
          flex-direction: column;
          gap: 20px;
     }

     .footermobile__cityblock {
          display: flex;
          align-items: center;
          gap: 4px;
          margin: 0 auto;
     }

     .footermobile__citytitle {
          font-weight: 600;
          font-size: 17px;
          line-height: 21px;
          color: #fff;
     }

     .footermobile__arrowdownicon {
          cursor: pointer;
     }

     .footermobile__btnblock {
          display: flex;
          flex-direction: column;
          gap: 12px;
     }

     .footermobile__btn {
          max-width: 100%;
          width: 100%;
          padding: 8px 0px 11px 0px;
          border: 1px solid #C0C2D7;
          border-radius: 200px;
          cursor: pointer;

          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          color: #FFFFFF;

          transition: all 0.3s ease;
     }

     .footermobile__btn:hover {
          background-color: #F4683F;
          border: 1px solid #F4683F;
     }

     .footermobile__btn--active {
          background-color: #F4683F;
          border: 1px solid #F4683F;
     }

     .footermobile__questionsblock {
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 12px;
     }

     .footermobile__questionsblock--subtitle {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #C0C2D7;
          cursor: pointer;
     }

     .footermobile__contactblock {
          text-align: center;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          gap: 22px;
     }

     .footermobile__phoneblock {
          display: flex;
          align-items: center;
          margin: 0 auto;
          gap: 7px;
     }

     .footermobile__contactblock--text {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #C0C2D7;
     }

     .footermobile__socialblock {
          display: flex;
          align-items: center;
          gap: 22px;
     }

     .footermobile__politic {
          text-align: center;
          font-weight: 500;
          font-size: 12px;
          line-height: 150%;
          color: #404256;
     }

}

@media(max-width: 540px) {


     // settsection 

     .section__title {
          font-size: 26px;
     }

     .section__popular {
          padding: 102px 0px 0px 0px;
     }

     .section__service {
          padding: 126px 0px 0px 0px;
     }

     .section__questions {
          padding: 90px 0px 58px 0px;
     }













     .header__logo {
          width: 170px;
          height: 26px;
     }

     .intro__wrapper {
          padding: 222px 0px 0 0;
     }

     .intro__content {
          max-width: 320px;
     }

     .intro__title {
          font-size: 40px;
     }

     .intro__subtitle {
          font-size: 18px;
     }

     .intro__applications {
          font-size: 18px;
     }


     // about

     .section__about {
          padding: 71px 0px 0px 0px;
     }

     .about__item {
          max-width: 320px;
     }

     //prepopular__section--mobile 

     .prepopular__section--mobile {
          padding: 96px 0px 0px 0px;
     }

     .prepopular__inner {
          max-width: 320px;
     }




     // popular

     .popular__price--link {
          max-width: 110px;
          font-size: 15px;
     }

     //  service

     .service__item {
          padding: 27px 0px 27px 35px;
     }

     // questions

     .questions__item--title {
          font-size: 17px;
     }

     // prefooter

     .section__prefooter {
          padding: 327px 0px 90px 0px;
     }

     .prefooter__content {
          gap: 40px;
     }

     .prefooter__textblock {
          text-align: center;
          gap: 12px;
     }

     .prefooter__title {
          font-size: 28px;
     }

     .prefooter__subtitle {
          margin: 0 auto;
          font-size: 16px;
     }

     .prefooter__button {
          max-width: 320px;
          width: 100%;
          margin: 0 auto;
          font-size: 16px;
     }

     // popup search

     .popup__search--inner {
          top: 0%;
          left: 0%;
          transform: translate(0%,0%);
          max-width: 540px;
          width: 100%;
     }

     .searchform__btn {
          max-width: 40px;
          width: 100%;
          height: 40px;
          position: relative;
     }

     .searchform--icon {
          display: block;
          max-width: 20px;
          width: 100%;
          height: 20px;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }

     .searchform__inputblock--icon {
          display: none;
     }

     .searchform__input::placeholder {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
     }

     .popup__search--close-icon {
          display: none;
     }

     .popup__search--close--mobile {
          display: block;
          width: 50px;
          height: 40px;
     }

     .popup__search--close {
          top: -40px;
          left: -10px;
     }

     .searchform__btn--text {
          display: none;
     }


    


     @media(max-width: 360px) {
          .prepopular__inner {
               display: flex;
               flex-direction: column;
               gap: 22px;
          }

          .prepopular__item {
               margin: 0 auto;
          }
     }

}
