@import '_vars.scss';
@import '_mixin.scss';


.header__burgermenuactive {
     display: none;
};

.intro__applications {
     display: none;
} 

// sections

.section__title {
     font-weight: 800;
     font-size: 40px;
     line-height: 150%;
     color: $color-005;
}



// header


.header-container {
     max-width: 1800px;
     margin: 0 auto;
     padding: 0 15px;
}

.header__wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;

     max-width: 100%;
     width: 100%;
}

.header__wrapper--mobile {
     display: none;
}

.header__inner-wrapper {
     display: flex;
     align-items: center;
     gap: 60px;
}

.header__wrapper--versionone {
     color: $white-body;
}

.header__firstblock {
     display: flex;
     align-items: center;
     gap: 40px;
}

.header__locationblock {
     display: flex;
     align-items: center;
     gap: 21px;
}

.header__locationblock--city {
     display: flex;
     align-items: center;
     gap: 4px;
     cursor: pointer;
}

.city__citytext {
     align-items: center;
     display: flex;
     gap: 2px;
}

.city__title {
     font-size: 18px;
     line-height: 22px;
     color: #fff;
}

.city__arrowdown {
     cursor: pointer;
}

.header__locationblock--catalogbtn {
     width: 136px;
     text-align: center;
     padding: 8px 0 10px 0;
     border-radius: 50px;

     color: #fff;
     font-size: 18px;
     line-height: 22px;
}

.catalogbtn--blackversion {
     @include btnblackversion;
     transition: all 0.5s ease;
} 

.catalogbtn--blackversion:hover {
     @include btnwhiteversion;
}

.header__addition {
     display: flex;
     align-items: center;
     gap: 30px;
}

.header__addition--text {
     font-size: 18px;
     line-height: 22px;
}

.header__lastblock {
     display: flex;
     align-items: center;
     gap: 30px;
}

.heart--icon {
     cursor: pointer;
}

.header__lastblock--search {
     display: flex;
     align-items: center;
     gap: 8px;
}

.header__btntext {
     font-size: 18px;
     line-height: 22px;
}

.header__telblock {
     display: flex;
     align-items: center;
     gap: 7px;
}

.header__phonetext {
     font-size: 16px;
     line-height: 20px;
}



// intro

.section__intro {
     max-width: 100%;
     width: 100%;
     height: 100vh;
     position: relative;
}

.intro__background {
     position: absolute;

     z-index: -10000;
     max-width: 100%;
     width: 100%;
     height: 100vh;
     object-fit: cover;
}

.intro__bg--gradient {
     max-width: 100%;
     width: 100%;
     height: 100vh;
}

.intro__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 222px 0px 80px 0;
     gap: 15px;
}

.intro__content {
     display: flex;
     flex-direction: column;
     max-width: 660px;
     gap: 85px;
}

.intro__text {
     display: flex;
     flex-direction: column;
     gap: 30px;
}

.intro__title {
     @include ralewaytoggler;
     font-weight: 800;
     font-size: 60px;
     line-height: 140%;
     letter-spacing: 0.02em;
     color: #FFFFFF;
}

.intro__subtitle {
     font-weight: 600;
     font-size: 25px;
     line-height: 150%;
     color: #FFFFFF;
}

// slider

.slide__body {
     display: flex;
     flex-direction: column;
     text-align: center;
     max-width: 160px;
     width: 100%;
     gap: 14px;
}

.slide__text {
     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #fff;
}

.owl-carousel {
     max-width: 660px;
     display: flex;
     justify-content: space-between;

}



//=//==//=//

.intro__social {
     display: flex;
     align-items: center;
     gap: 22px;
}


.intro__inputfield {
     padding: 60px 40px;
     background-color: #fff;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     gap: 48px;
}


.intro__formcontainers {
     display: flex;
     flex-direction: column;
     gap: 26px;
}

.intro__formcontainer {
     display: flex;
     flex-direction: column;
     gap: 6px;
}

.intro__formsFailed {
     border: solid 1px #EF0000;
}



.intro__input--beforetitle {
     display: flex;
}

.input__title {
     width: 50%;

     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #444;
     padding-left: 20px;
}

.input__title--reset {
     width: 100%;
}


.intro__form {
     display: flex;
     max-width: 280px;
     width: 100%;
     border: 1px solid #C0C2D7;
     border-radius: 200px;
     padding: 7px 0px;
}

.input__wrapper {
     padding: 5px 0px;
     width: 50%;
}

.input__wrapper--reset {
     width: 100%;
}

.intro__input {
     width: 100%;
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #8a8a8a;
     padding: 0px 20px;
}

.intro__input::placeholder {
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #C0C2D7;
}

.intro__input--border {
     border-left: 1px solid #C0C2D7;
}



.intro__rangeinputcontainer {
     max-width: 240px;
     width: 100%;
     margin: 0 auto;
     position: relative;
}

input[type="range"] {
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
};

.intro__track {
     width: 100%;
     height: 1px;
     background-color: #808080;
}


input[type="range"]::-webkit-slider-runnable-track{
     -webkit-appearance: none;
     height: 5px;
}

input[type="range"]::-moz-range-track{
     -moz-appearance: none;
     height: 5px;
}

input[type="range"]::-ms-track{
     appearance: none;
     height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
     -webkit-appearance: none;
     height: 23px;
     width: 8px;
     background-color: #F4683F;
     border-radius: 200px;
     cursor: pointer;
     margin-top: -9px;
     pointer-events: auto;
}

input[type="range"]::-moz-range-thumb{
     appearance: none;
     height: 23px;
     width: 8px;
     background-color: #F4683F;
     border-radius: 200px;
     cursor: pointer;
     margin-top: -9px;
     pointer-events: auto;
}

input[type="range"]::-ms-thumb {
     appearance: none;
     height: 23px;
     width: 8px;
     background-color: #F4683F;
     border-radius: 200px;
     cursor: pointer;
     margin-top: -9px;
     pointer-events: auto;
}

.intro__inputs {
     position: relative;
}

.intro__values {
     position: absolute;
     max-width: 100%;
     width: 100%;
     top: 17px;
     display: flex;
     justify-content: center;
     gap: 12px;
}


.intro__rangeinput--thumbsett {
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #444444;
}

.intro__btn {
     margin-top: 30px;
     width: 100%;
     padding: 10px 0 13px 0;
     background-color: #F4683F;
     border-radius: 50px;

     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     color: #fff;
}



// about

.section__about {
     padding: 200px 0;
     background-image: url('../images/about/bgabout.png');
     background-repeat: no-repeat;
     background-position: right;
     background-size: auto;
}

.about__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 73px;
}

.about__inner {
     display: flex;
     justify-content: space-between;
     gap: 65px;
}

.about__item {
     display: flex;
     flex-direction: column;
     gap: 20px;

     max-width: 331px;
}

.about__icon {
     max-width: 40px;
     max-height: 40px;
}

.about__text {
     font-weight: 600;
     font-size: 16px;
     line-height: 160%;
     color: $color-005;
}


















// RESPONSIVE

@media (max-width: 1400px) {
     .header-container {
          max-width: 1400px;
          padding: 0px 15px;
          margin: 0 auto;
     }

     .header__locationblock {
          gap: 17px;
     }

     .city__title {
          font-size: 14px;
          line-height: 17px;
     }

     .header__locationblock--catalogbtn {
          max-width: 99px;
          font-size: 14px;
          line-height: 17px;
     }

     .header__locationblock--catalogbtn {
          background-color: $color-004;
          border: $color-004;
     }

     .header__addition--text {
          font-size: 14px;
          line-height: 17px;
     }

     .header__addition {
          gap: 20px;
     }
     
     .header__btntext {
          font-size: 14px;
          line-height: 17px;
     }

     .header__phonetext {
          font-size: 14px;
          line-height: 17px;
     }

     .header__lastblock {
          gap: 20px;
     }


     // intro

     .intro__wrapper {
          padding: 222px 0px 0px 0;
     }

     .intro__content {
          gap: 45px;
     }

     // about

     .about__text {
          font-size: 14px;
     }
}

@media (max-width: 1300px) {
     .header__telblock {
          display: none;
     }

     .header__lastblock {
          transform: translateY(7px);
     }

     .header__inner-wrapper {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 40px;
     }

     .header__wrapper {
          align-items: normal;
     }

}

@media (max-width: 992px) {
     // header

     .header__btntext {
          display: none;
     }

     .city__title {
          font-size: 16px;
     }

     .header__locationblock--catalogbtn {
          font-size: 16px;
     }

     .header__addition--text {
          font-size: 16px;
     }

     // intro

     .intro__wrapper {
          justify-content: center;
          text-align: center;
     }

     .intro__social {
          display: none;
     }

     .intro__inputfield {
          display: none;
     }

     .intro__title {
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-style: normal;
          font-weight: 800;
          font-size: 65px;
          line-height: 127%;
          letter-spacing: 0.02em;
          color: #FFFFFF;
     }

     .intro__applications {
          display: block;
          color: #fff;
          @include btnwhiteversion;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;

          max-width: 320px;
          width: 100%;
          border-radius: 50px;
          padding: 8px 0px 11px 0px;
          transition: all 0.3s ease;
          margin: 0 auto;
     }


     // about 

     .about__inner {
          display: flex;
          flex-wrap: wrap;
     }

     .about__text {
          font-size: 16px;
     }
}

@media (max-width: 768px) {
     .header__wrapper--responsive {
          display: none;
     }

     .header__wrapper--mobile {
          display: flex;
          align-items: center;
     }

     

     .header__burgerblock {
          display: flex;
          align-items: center;
          gap: 16px;
     }

     .call--icon {
          width: 30px;
          height: 30px;
     }

     .header__search--icon {
          width: 25px;
          height: 25px;
     }

     .header__burgermenu {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 7px;
     }

     .header__burgermenu--line {
          background-color: #fff;
          height: 3px;
          width: 25px;
          border-radius: 50px;
     }

     // animation burger menu 

     @keyframes smoothopacity {
          0% {
               opacity: 0;
               transform: translateX(100%);
          }

          50% {
               opacity: 0.5;
               transform: translateX(50%);
          }

          100% {
               opacity: 1;
               transform: translateX(0%);
          }
     }

     @keyframes smoothopacityclose {
          0% {
               opacity: 1;
               transform: translateX(0%);
          }

          50% {
               opacity: 0.5;
               transform: translateX(50%);
          }

          100% {

               opacity: 0;
               transform: translateX(100%);
          }
     }




     .header__burgermenuactive {
          display: none;
          max-width: 100%;
          width: 100%;
          height: 100%;
          background-color: #161723;
          position: fixed;
          top: 0; 
          z-index: 100000;

          padding: 30px 20px;
     }

     .burgermenuactive--animation {
          display: block;
          transform: translateX(100%);
          animation: smoothopacity 0.3s linear forwards;
     }

     .burgermenuactive--animationclose {
          animation: smoothopacityclose 0.3s linear forwards;
     }

     .burgermenuactive__wrapper {
          display: flex;
          flex-direction: column;
          gap: 150px;
     }

     .burgermenuactive__logo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 100%;
          width: 100%;
     }

     .burgermenuactive--iconclose {
          cursor: pointer;
     }
     
     .burgermenuactive__maincontent--wrapper {
          display: flex;
          justify-content: center;
     }

     .burgermenuactive__maincontent {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 40px;
          max-width: 300px;
          width: 100%;
          
     }

     .burgermenuactive__btnblock {
          display: flex;
          flex-direction: column;
          gap: 21px;
     }

     .burgermenuactive__button {
          color: #fff;
          @include btnblackversion;
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;

          max-width: 100%;
          width: 300px;
          border-radius: 50px;
          padding: 8px 0px 11px 0px;
          transition: all 0.3s ease;
     }

     .burgermenuactive__button:hover {
          @include btnwhiteversion;
     }

     .burgermenuactive__button--active {
          @include btnwhiteversion;
     }

     .burgermenuactive__sublinks {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-content: center;
          gap: 12px;
          color: #C0C2D7;
          transition: all 0.3s ease;
     }

     .burgermenuactive__sublinks:hover {
          color: #e5e6ed;
     }



     .city__citytext {
          gap: 0px;
     }

     .city__title {
          font-weight: 600;
          font-size: 17px;
          line-height: 21px;
          margin: 0px 2px 0px 4px;
     }


     .burgermenuactive__nextcontent {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          align-content: center;
          gap: 22px;
     }

     .burgermenuactive__nextcontent--phoneblock {
          display: flex;
          align-items: center;
          gap: 7px;
     }

     .burgermenuactive__nextcontent--phonenumber {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #C0C2D7;
     }

     .burgermenuactive__nextcontent--social {
          display: flex;
          gap: 22px;
     }


     // intro

     .owl-carousel {
          display: none !important;
     }

     .intro__social {
          display: flex;
          justify-content: center;
     }

     .intro__content {
          max-width: 600px;
          gap: 50px;
     }

     .intro__title  {
          line-height: 140%;
          font-size: 50px;
     }

     // about  

     .section__about {
          padding: 100px 0;
     }

     .about__inner {
          gap: 40px;
     }
     
}

@media(max-width: 540px) {
     .header__logo {
          width: 170px;
          height: 26px;
     }

     .intro__wrapper {
          padding: 222px 0px 0 0;
     }

     .intro__content {
          max-width: 320px;
     }

     .intro__title {
          font-size: 40px;
     }

     .intro__subtitle {
          font-size: 18px;
     }

     .intro__applications {
          font-size: 18px;
     }


     // about

     .section__about {
          padding: 71px 0;
     }

     .about__item {
          max-width: 320px;
     }

}