@import '_vars.scss';
@import '_mixin.scss';


.header__burgermenuactive {
     display: none;
};



// header


.header-container {
     max-width: 1800px;
     margin: 0 auto;
     padding: 0 15px;
}

.header__wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;

     max-width: 100%;
     width: 100%;
}

.header__wrapper--mobile {
     display: none;
}

.header__inner-wrapper {
     display: flex;
     align-items: center;
     gap: 60px;
}

.header__wrapper--versionone {
     color: $white-body;
}

.header__firstblock {
     display: flex;
     align-items: center;
     gap: 40px;
}

.header__locationblock {
     display: flex;
     align-items: center;
     gap: 21px;
}

.header__locationblock--city {
     display: flex;
     align-items: center;
     gap: 4px;
     cursor: pointer;
}

.city__citytext {
     align-items: center;
     display: flex;
     gap: 2px;
}

.city__title {
     font-size: 18px;
     line-height: 22px;
     color: #fff;
}

.city__arrowdown {
     cursor: pointer;
}

.header__locationblock--catalogbtn {
     width: 136px;
     text-align: center;
     padding: 8px 0 10px 0;
     border-radius: 50px;

     color: #fff;
     font-size: 18px;
     line-height: 22px;
}

.catalogbtn--blackversion {
     @include btnblackversion;
     transition: all 0.5s ease;
} 

.catalogbtn--blackversion:hover {
     @include btnwhiteversion;
}

.header__addition {
     display: flex;
     align-items: center;
     gap: 30px;
}

.header__addition--text {
     font-size: 18px;
     line-height: 22px;
}

.header__lastblock {
     display: flex;
     align-items: center;
     gap: 30px;
}

.heart--icon {
     cursor: pointer;
}

.header__lastblock--search {
     display: flex;
     align-items: center;
     gap: 8px;
}

.header__btntext {
     font-size: 18px;
     line-height: 22px;
}

.header__telblock {
     display: flex;
     align-items: center;
     gap: 7px;
}

.header__phonetext {
     font-size: 16px;
     line-height: 20px;
}



























// RESPONSIVE

@media (max-width: 1400px) {
     .header-container {
          max-width: 1400px;
          padding: 0px 15px;
          margin: 0 auto;
     }

     .header__locationblock {
          gap: 17px;
     }

     .city__title {
          font-size: 14px;
          line-height: 17px;
     }

     .header__locationblock--catalogbtn {
          max-width: 99px;
          font-size: 14px;
          line-height: 17px;
     }

     .header__locationblock--catalogbtn {
          background-color: $color-004;
          border: $color-004;
     }

     .header__addition--text {
          font-size: 14px;
          line-height: 17px;
     }

     .header__addition {
          gap: 20px;
     }
     
     .header__btntext {
          font-size: 14px;
          line-height: 17px;
     }

     .header__phonetext {
          font-size: 14px;
          line-height: 17px;
     }

     .header__lastblock {
          gap: 20px;
     }
}

@media (max-width: 1300px) {
     .header__telblock {
          display: none;
     }

     .header__lastblock {
          transform: translateY(7px);
     }

     .header__inner-wrapper {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 40px;
     }

     .header__wrapper {
          align-items: normal;
     }

}

@media (max-width: 992px) {
     .header__btntext {
          display: none;
     }
}

@media (max-width: 768px) {
     .header__wrapper--responsive {
          display: none;
     }

     .header__wrapper--mobile {
          display: flex;
          align-items: center;
     }

     

     .header__burgerblock {
          display: flex;
          align-items: center;
          gap: 16px;
     }

     .call--icon {
          width: 30px;
          height: 30px;
     }

     .header__search--icon {
          width: 25px;
          height: 25px;
     }

     .header__burgermenu {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 7px;
     }

     .header__burgermenu--line {
          background-color: #fff;
          height: 3px;
          width: 25px;
          border-radius: 50px;
     }

     // animation burger menu 

     @keyframes smoothopacity {
          0% {
               opacity: 0;
               transform: translateX(100%);
          }

          50% {
               opacity: 0.5;
               transform: translateX(50%);
          }

          100% {
               opacity: 1;
               transform: translateX(0%);
          }
     }

     @keyframes smoothopacityclose {
          0% {
               opacity: 1;
               transform: translateX(0%);
          }

          50% {
               opacity: 0.5;
               transform: translateX(50%);
          }

          100% {

               opacity: 0;
               transform: translateX(100%);
          }
     }




     .header__burgermenuactive {
          display: none;
          max-width: 100%;
          width: 100%;
          height: 100vh;
          background-color: #161723;
          position: fixed;
          top: 0; 
          z-index: 100000;

          padding: 30px 20px;
     }

     .burgermenuactive--animation {
          display: block;
          transform: translateX(100%);
          animation: smoothopacity 0.3s linear forwards;
     }

     .burgermenuactive--animationclose {
          animation: smoothopacityclose 0.3s linear forwards;
     }

     .burgermenuactive__wrapper {
          display: flex;
          flex-direction: column;
          gap: 150px;
     }

     .burgermenuactive__logo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 100%;
          width: 100%;
     }

     .burgermenuactive--iconclose {
          cursor: pointer;
     }
     
     .burgermenuactive__maincontent--wrapper {
          display: flex;
          justify-content: center;
     }

     .burgermenuactive__maincontent {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 40px;
          max-width: 300px;
          width: 100%;
          
     }

     .burgermenuactive__btnblock {
          display: flex;
          flex-direction: column;
          gap: 21px;
     }

     .burgermenuactive__button {
          color: #fff;
          @include btnblackversion;
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;

          max-width: 100%;
          width: 300px;
          border-radius: 50px;
          padding: 8px 0px 11px 0px;
          transition: all 0.3s ease;
     }

     .burgermenuactive__button:hover {
          @include btnwhiteversion;
     }

     .burgermenuactive__button--active {
          @include btnwhiteversion;
     }

     .burgermenuactive__sublinks {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-content: center;
          gap: 12px;
          color: #C0C2D7;
          transition: all 0.3s ease;
     }

     .burgermenuactive__sublinks:hover {
          color: #e5e6ed;
     }



     .city__citytext {
          gap: 0px;
     }

     .city__title {
          font-weight: 600;
          font-size: 17px;
          line-height: 21px;
          margin: 0px 2px 0px 4px;
     }


     .burgermenuactive__nextcontent {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          align-content: center;
          gap: 22px;
     }

     .burgermenuactive__nextcontent--phoneblock {
          display: flex;
          align-items: center;
          gap: 7px;
     }

     .burgermenuactive__nextcontent--phonenumber {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #C0C2D7;
     }

     .burgermenuactive__nextcontent--social {
          display: flex;
          gap: 22px;
     }
     
}

@media(max-width: 540px) {
     .header__logo {
          width: 170px;
          height: 26px;
     }
}